.pf1::first-letter{
    font-size: 2rem;
}
.pf2::first-letter{
    float: left;
    font-family: 'Times New Roman';
    font-size: 400%;
    font-weight: bolder;
}

.seudoEle{
    border: 2px solid black;
    width: 10%;
    text-align: center;
}

.seudoEle::before{
    content: 'Hola';
    background-color: red;
}

.seudoEle::after{
    content: 'Perú';
    background-color: red;
}


div:hover{
    background-color: yellow;
}

a:hover{
   color: violet;
}
a:focus{
    color: red;
}
a:active{
    color: purple;
}