.cuadrado {
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
}

.rombo {
    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    transform: rotate(45deg);
}

.paralelogramo {
    width: 150px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    transform: skew(20deg);
}

.triangulo {
    width: 0px;
    height: 0px;
    margin-left: 20px;
    border-left: 50px solid transparent;
    border-top: 50px solid rgb(147, 165, 42);
    border-right: 50px solid rgb(147, 165, 42);
    border-bottom: 50px solid transparent;
}

.circulo1 {

    width: 100px;
    height: 100px;
    background-color: brown;
    margin-left: 20px;
    border-radius: 50%;
}


.circulo2 {

    width: 0px;
    height: 0px;
    background-color: brown;
    margin-left: 20px;
    border-radius: 50%;
    border-left: 50px solid red;
    border-top: 50px solid rgb(147, 165, 42);
    border-right: 50px solid blue;
    border-bottom: 50px solid black;
}

.diamante{
    clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 50% 100%);
    background-color: rgb(0, 0, 0);
    height: 100px;
    width: 100px;
    margin-left: 20px;
}

.animado{
    width: 50%;
    transition: all 1s;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.animado:hover{
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0% 50%);
}