html, body{
    height: 100%;
}

#cover{
    background: rgb(233, 224, 224) url(../img/perrito.jpg) center no-repeat;
    background-size: 100%;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-texto{
    width: 100%;
}
button{
    background-color: white;
}