.tamaño{
    height: 550px;
    width: auto;
}

#caja2{
background-color: green;

}
img{
    
   float: right;
}

#caja3 {
    width: auto;
    height: auto;
    float: right;
    background-color: yellow;
}

